.mytable {
  border-collapse: collapse;

  & td,
  & th {
    border: 1px solid lightblue;
    padding: 0.5rem 1rem;
    &.sort_asc {
      background: rgb(255, 255, 127);
    }
    &.sort_des {
      background: rgb(209, 224, 255);
    }
  }
  & th {
    cursor: pointer;
  }
}
