section {
  padding: 2rem;
  table {
    border-collapse: collapse;
    td,
    th {
      border: 1px solid lightblue;
      padding: 0.5rem;
      user-select: none;
    }
    th {
      cursor: pointer;
    }
  }

  .bulk {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
    button {
      border: none;
      border-radius: 3px;
      background: lightgray;
      padding: 0.8rem 1.5rem;
      color: #222222;
      cursor: pointer;
      transition: all 0.1s;
      &:hover {
        background: #0075ff;
        color: white;
      }
    }
  }
}
